
<tempate-variable></tempate-variable>

<input-decorator [childVar]="parentInputVar"></input-decorator>

<div>
  <output-decorator (childEvent)="parentOutputVar = $event"></output-decorator>
  {{parentOutputVar}}
  <p>&nbsp;</p>
</div>

<div>
  <template-reference #tref></template-reference>
  {{tref.data}}
  {{setTemplateReferenceData(tref.data)}}
</div>


<div>
  <p> view child:</p>
  <view-child></view-child>
  <button (click)="printChildData()"> button </button>
</div>

<div>
  <p> view child - template variable:</p>
  <view-child #vchild></view-child>
  <button (click)="printChildTemplateVariableData()"> button </button>
</div>

<div>
  <div #templateDiv> view child - template variable with div:</div>
  <button (click)="printChildTemplateDivVariableData()"> button </button>
</div>

<div>
  <p><b>view childrens:</b></p>
  <p #para>it is paragraph 1</p>
  <p #para>it is paragraph 2</p>
  <button (click)="printViewChildren()"> button </button>
</div>
